html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.content {
    position: relative;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

header,
main {
    font-size: 2rem;
    font-weight: 700;
    padding: 3.4rem;
    display: flex;
    justify-content: space-between;
}

header {
    width: 100%;
    position: fixed;
    align-items: center;
}

h1 {
    font-weight: 900 !important;
    margin: 0;
    font-size: 6rem !important;
    text-align: center;
}

main {
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main Image {
    width: 50%;
}

header.dark {
    color: orange;
    background-color: #3f3f3f;
}

main.dark {
    background-color: #3f3f3f;
    color: #fafafa;
}

main.dark p {
    color: orange;
}